[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = {extras = ["image"], version = "*"}
pre-commit = "*"
beautifulsoup4 = "*"
path = "*"
requests = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
